networks:
  etherpad-net:
    driver: bridge

services:
  etherpad-app:
    volumes:
      - plugins-data:/opt/etherpad-lite/src/plugin_packages
      - var-data:/opt/etherpad-lite/var
    depends_on:
      etherpad-mysql:
        condition: service_healthy
    env_file:
      - ./.env
    networks:
      - etherpad-net
    container_name: etherpad-app
  etherpad-mysql:
    image: mariadb:11.4
    env_file:
      - ./.env
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "127.0.0.1:3304:3306"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s 
    networks:
      - etherpad-net
    container_name: etherpad-mysql

volumes:
  mysql-data:
  plugins-data:
  var-data:
